html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Sofia", sans-serif;
}

body > * {
    flex-shrink: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c162c6;
    padding: 0 3% 20px; /* Combinando padding */
}

.logo, .rainbow {
    max-width: 6vw; /* Largura responsiva para ambos */
    height: auto;
    transition: transform 0.5s ease;
}

.logo:hover {
    transform: rotate(360deg);
}

.rainbow:hover {
    transform: rotate(-5deg);
}

#tituloo{
    font-size: 2.5rem;
}

.sobre-nos, .header-text {
    text-decoration: none;
    color: white;
    background-color: #7a3e7d;
    border-radius: 16px;
    font-size: 1.5rem;
    text-align: center;
    transition: transform 1.5s ease;
    flex-grow: 1;
    margin: 0 20px; /* Ajusta as margens */
    white-space: nowrap;
}

.sobre-nos:hover, .header-text:hover {
    border-radius: 16px;
    background-color: white;
    color: #984c9c;
    font-size: 1.7rem; /* Responsividade nas fontes */
    transform: rotate(5deg);
}

.Tittle-main-page {
    text-align: center;
}

.Tittle-mp {
    font-size: 4.5rem;
    color: #333;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;  
    margin: 10px 0 20px;
    gap: 5px;
}

.img {
    width: 310px;
    height: 310px;
    border-radius: 100%;
    margin: 50px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.img:hover {
    transform: scale(1.1); 
    box-shadow: 0 10px 20px rgba(230, 49, 109, 0.2); /* Corrigido o erro de sintaxe */
}

.text-box {
    background: #e3a6e7;
    border-radius: 13px;
    padding: 10px; /* Reduzido para economizar espaço */
    filter: drop-shadow(10px 10px 4px #984c9c);
    width: 100%;
    margin: 0 70px; /* Combinado margem esquerda e direita */
}

.text-box.inverted {
    filter: drop-shadow(-10px 10px 4px #984c9c);
}

footer {
    background-color: #c162c6; 
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    margin-top: auto;
}

.footer-content {
    display: flex;
    width: 100%; 
}

.footer-section {
    display: flex;
    align-items: center;
    width: 100%; 
}

.footer-title {
    font-size: 1.5rem;
    margin-right: 20px; 
    padding-left: 5px;
    white-space: nowrap;
}

.footer-icons {
    display: flex; 
    align-items: center;
    gap: 15px;
    border-left: 2px solid black;
    padding-left: 15px;
    width: 100%;
}

.footer-icons i {
    font-size: 28px; 
    color: white; 
    transition: transform 0.5s ease; 
}

.footer-icons i:hover {
    transform: scale(1.5); 
}

.sessao_direita {
    margin-left: auto;
}

.container2 {
    display: flex;
    align-items: flex-start;
    margin: 20px 50px 60px; 
    gap: 50px;
}

.left-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.right-section {
    flex: 0 0 300px; 
}

.history-title, .mission-title {
    margin-bottom: 10px; 
    text-align: center; 
    width: 100%; 
}

.mission-title {
    margin-bottom: 20px;
    font-size: 22px; 
}

.mission-content h3 {
    color: #984c9c;
    margin-bottom: 5px;
    font-size: 20px; 
}

.mission-content p {
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.5;
}

.text-box-left {
    background: #e3a6e7;
    border-radius: 13px;
    text-align: center;
    filter: drop-shadow(10px 10px 4px #984c9c);
    width: 100%;
    margin: 0 20vw; 
}

/* Media query para responsividade */
@media (max-width: 768px) {
    .container2 {
        flex-direction: column; 
        align-items: center; 
    }
    .right-section {
        flex: 1; 
        margin-top: 20px; 
    }
}

.team-title {
    font-size: 2.5rem; /* Tamanho do texto do título */
    margin-bottom: 20px; /* Espaço entre o título e as fotos */
}

.photos-container {
    display: flex; /* Exibe as fotos em linha */
    flex-wrap: wrap; /* Permite que as imagens se movam para a linha seguinte, se necessário */
    justify-content: center; /* Centraliza as imagens */
}

.fotos-team {
    width: 15vw; /* Largura das imagens */
    height: 15vw; /* Altura das imagens para manter a proporção */
    border-radius: 100%; /* Forma circular */
    margin: 5px; /* Espaço entre as imagens */
    max-width: 100%; /* Garante que as imagens não excedam o tamanho do container */
}

.container3 {
    text-align: center; /* Centraliza o título e o conteúdo */
    margin: 20px 0; /* Margem para separar do resto da página */
}